@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', system-ui, sans-serif;
}

.gradient-text {
  background: linear-gradient(to right, #0891b2, #9333ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}